/* Contact */
/*
.map {
    display: block;
    width: 50%;
    height: 100vh;
    border: none;
    margin: -144px 0 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 770px) {
    p {
        font-size: 14px;
    }

    .content-align {
        padding: 10px;
    }

    .button-primary {
        width: 100%;
    }

    .map {
        width: 100%;
        height: 100vh;
        border: none;
        margin: 0;
        position: relative;
       
        z-index: 1;
    }
}*/

.map {
    display: block;
    width: 100%;
    height: 300px;
    border: none;
    margin: -144px 0 0;
}

@media (min-width: 768px) {
    .map {
        width: 50%;
        height: 100vh;
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
}