.posicao-right {
  margin-right: 0;
  display: inline-block;
  float: right;
  text-align: right;
}

.posicao-right a{
  color: #f05b78;
}

.card {
  width: 100%!important;
  
}

.ant-card-body {
  padding: 0!important;
}