.alinhar-left {
  text-align: left;
}

.botao {
  color: #f05b78;
  width: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 5px;
  float: left;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.icon-app {
  margin: 5px 12px 0;
  width: 15px;
}



@media (max-width: 767px) {
  .centralizar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}