.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

img {
  margin-bottom: 10px;
}

.nota {
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(77, 250, 9, 0.11);
}

span {
  font-size: 14px;
  padding-top: 5px;
}

.btn {
  font-size: 14px;
  border-radius: 10px;
  max-width: 150px;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.azul {
  background-color: blue;
  border-color: blue;
  color: white;
}

.vermelho {
  background-color: red;
  color: white;
}

.botoes {
  margin-top: 20px;
  padding-bottom: 10px;
}

.botoes .btn {
  margin: 0 15px;
}

.flash {
  width: 100%;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

.invisivel {
  display: none;
}

@keyframes fadein { from { opacity: 0;} to { opacity: 1; visibility: visible;} }

@keyframes fadeout { from { opacity: 1;} to { opacity: 0; visibility: hidden;} }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
 border-color: red; 
}
