.lado-left {
  display: inline-block;
  float: left;
}

.alinhar-right {
  display: inline-block;
  float: right;
  margin-right: 30px;
}

.espaco-bottom {
  margin-bottom: 30px;
}

.espaco-left {
  margin-left: 20px;
}

.titulo-lista {
  width: 100%;
  text-align: left;
}
