
.espacamento {
  width: 100%;
  margin: 0 5px 16px;
}

.imagem-left {
  margin-left: 10px!important;
}

.espacamento-minimo {
  margin-left: -10px;
}

.img {
  width:100%;
}


@media (max-width: 990px) {

  .ant-card-meta-description {
    margin-bottom: 20px;
  }

  .container-card {
    width: 200px;
  }
}

@media (max-width: 770px) {

  .container-card {
    width: 200px;
    display: inline-block;
    padding-left: 60px;
    padding-right: auto;
  }
}