/* box */

.box {
    background: rgb(41, 41, 49);
    padding: 3px;
    margin-bottom: 3px;
    border: 2px solid;
    text-align: center;
    box-shadow: 0 0 5px rgba(153, 148, 148, 0.432);
}

.box-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0081ff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 60%;
}