/* Content */

.content {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.header + .content-align > .content:first-child {
    padding-top: 100px;
}

.content-separator {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 5px dotted #efefef;
}

.content-align {/* fixa footer no botton*/
    min-height: 100vh;
    padding-bottom: 148px;
    box-sizing: border-box;
}

