.App {
  background: black;
  height: 100%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  background: black;
}

span {
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.App {
  text-align: center;
  background: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  margin-right: 20px;
  border-style: none;
  font-size: 14px;
  border-radius: 10px;
  max-width: 300px;
  padding: 8px;
  cursor: pointer;
}

.btn .link {
  text-decoration: none;
  color: black;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

.azul {
  background-color: blue;
  border-color: blue;
  color: white;
}

.botoes {
  margin: 15px 0;
}

.botoes .btn {
  margin: 0 10px;
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.invisivel {
  display: none;
}

.descricao-nota span {
  width: 100%;
  text-align: center;
}

.descricao-nota input {
  width: 150px;
  margin-left: 10px;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0;} to { opacity: 1; visibility: visible;} }

@keyframes fadeout { from { opacity: 1;} to { opacity: 0; visibility: hidden;} }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
 border-color: red; 
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

#titulo{
  text-align: left;
  margin-left: 30px;
  color: white;
}

.data-ep {
  font-size: 10px;
}

.fundo-claro{
  background: rgb(77, 67, 49);
  border-radius: 10px;
}