.AppLogin {
  background: url('../../img/fundo.jpg') no-repeat center bottom / cover;
  height: 100vh;
}
.login{
  display: inline-block;
  align-items: center;
  margin: 200px auto;
  background-color: rgba(5, 5, 5, 0.747);
  border-radius: 10px;
  width: 400px;
  height: auto;
  box-sizing: border-box;
}

.login h3 {
  text-align: left;
  margin-top: 20px;
  color: white;
}

.login input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  background-color: honeydew;
  width: 100%;
}

.login button {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-weight: bold;
  background:#e50914;
  color: #fff;
  cursor: pointer;
}

.spaco-button {
  margin-top: 5px;
  margin-bottom: 20px;
}

.layout-login {
  display: inline-block;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}