.AppLogin {
  height: 100vh;
  border: 1px solid red;
  
}

.login{
  display: inline-block;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  height:100%;
  box-sizing: border-box;
  text-align: center;
}

.login .layout-login div {
  text-align: left;
}

.login h2 {
  text-align: center;
  font-weight: bold;
  margin: 50px;
}

.login input {
  margin-bottom: 20px;
  border: 1px solid rgb(22, 21, 21);
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  background-color: honeydew;
  width: 100%;
}

.login button {
  border: 0;
  border-radius: 3px;
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.login .fundo-rosa {
  background: #f05b78;
  margin-bottom: 20px;
}

.login .btFace {
  background: #2c54ae;
}

.login .fundo-rosa,
.login .btFace {
  color: white;
}

.escrita-rosa {
  color: #f05b78;
}

.login label {
  width: 100%;
  text-align: left!important
}

.spaco-button {
  margin-top: 5px;
  margin-bottom: 20px;
}

.layout-login {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; 
}

.login .layout-login .checkBox {
  margin-bottom: 20px;
}

.login .layout-login div .limpar-left {
  padding-left: 0;
}

.login .layout-login div .limpar-right {
  padding-right: 0;
}

.login .layout-login div  .lado-right {
  float: right;
}