/* bordas */

.borda {
  border: 1px solid rgba(17, 17, 17, 0.13);
}

.borda-right {
  border-right: 1px solid rgba(17, 17, 17, 0.068);
}


.borda-botton {
  border-bottom: 1px solid rgba(17, 17, 17, 0.068);
}