/* botao */
.botao-mao {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  background: url('../../img/mao.png') no-repeat;
  background-size: contain;
}

.botao-msg {
  margin: 5px auto;
  width: 60px;
  height: 60px;
  background: url('../../img/nuvem.png') no-repeat;
  background-size: contain;
}

.botao-padrao {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.botao-seguir {
  display: inline-block;
  margin-top: 30px;
  float: right;
  margin-right: 20px;
  padding: 8px 15px;
  border: 1px solid rgba(17, 17, 17, 0.267);
  border-radius: 8px;
  background: white;
}

.bt-pergunta {
  display:inline-block;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 0;
  border-radius: 4px;
  
}