/* Colunas */

.coluna {
  margin: 10px auto;
  height: 100%;
}

.coluna-foto {
  margin-left: -50px!important;
}

.coluna h2 {
  font-weight: bold;
}

.coluna-meio {
  text-align: center;
  width: 100%;
}

.coluna .tachar {
  color: rgba(7, 7, 7, 0.322);
  text-decoration: line-through;
}

.espacamento-colunas {
  margin-left: 10px;
}