/* containers */
.container-miniatura {
  text-align: center;
}

.container-detalhes {
  padding: 30px;
  width: 100%;
}

.container-pergunta {
  display: flex;
  width: 100%;
  padding: 5px 20px;
}

.container-avatar,
.container-info {
  display: flex;
}

.avatar-conf{
  margin-top: 20px;
}

.avatar {
  display: inline-block;
  float: left;
  margin-left: 30px!important;
  margin-top: 20px!important;
  margin-bottom: 20px!important;
  width: 40px;
}

.descricao-avatar {
  display: inline-block;
  float: left;
  padding-top: 20px;
}

.container-info {
  width: 100%;
}

.container-dados-vendedor {
  text-align: left;
  margin-top: 30px!important;
  margin-left: -30px!important;
}

.container-interacoes {
  width: 100%;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 8px;
  overflow:auto;
}