/* geral */

.font-bold {
  font-weight: bold;
}

.font-menor-clara {
  font-size: 12px;
  color:#0000009c;
}

.cor-rosa {
  color: #f05b78;
}

.fundo-rosa {
  background-color:#f05b78;
  color: white;
}

.fundo-branco {
  background-color:white;
  color: #f05b78;
}

.padding-laterais{
  padding-left: 20px;
  padding-right: 20px;
}

.ajuste-lista {
  list-style:none;
}

.centralizar {
  margin-left: auto;
  margin-right: auto;
}

.texto-center {
  text-align: center;
}

.cartoes{
  margin-left: 0;
}

.etiqueta {
  border-radius: 50pt 0 0 50pt;
  font-size: 12px;
  padding: 5px 30px;
  font-weight: bold;
  color:white;
  background: url('../../img/etiqueta.png') no-repeat center;
  background-size: auto ;
}

.margin-top {
  margin-top: 30px;
  margin-bottom: 2px;
}

.tamanho {
  width: 30px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.267);
  margin: 2px;
}

.titulo-tam{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(17, 17, 17, 0.068);
}

.descricao-local {
  display: inline-block;
  float: left;
  font-size: 12px;
  padding-bottom: 20px;
}

.estrelas-conf {
  display: inline-block;
  margin-left: 10px;
}

.makeStyles-root-1 {
  width: 100%!important;
  display: inline-block!important;
}

.altura-imput{
  height: 50px;
  width: 100%;
}

.texto-descritivo {
  display: inline;
  padding: 2px 5px;
  position: relative;
  top: -26px;
  font-size: 12px;
  margin-left: 5px;
  background-color: #f3f3f3;
  color: black;
  font-weight: bold;
  z-index: 999;
}