/* imagens */

.icons-centrais {
  display: inline-block;
  text-align: center;
}

.imagem-home {
  width: 100%;
  max-zoom: 600px;
}

.imagem-miniatura {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  text-align: center;
}

.img-post img {
  max-height: 360px;
  height: auto;
}

@media (max-width: 990px) {
  .icons-centrais {
    display: flex;
    width: 100%;
  }
}


@media (max-width: 800px) {
  .img-post img {
    max-height: 100%;
    height: auto;
  }
}