.avatar,
.interacao {
  display: inline-block;
  margin-top: 5px;
  float: left;
}

.interacao {
  width: 100%;
  margin-left: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}

.resposta {
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}

.dados {
  font-size: 12px;
  color: rgba(17, 17, 17, 0.466);
}

@media (max-width: 990px) {
  .resposta  {
    margin-right: -100px;
  }
}