.btn {
  border-style: none;
  font-size: 0.7em;
  border-radius: 3px;
  padding: 4px 30px;
  cursor: pointer;
}

.btn a{
  text-decoration: none;
  color: black;
}

.btn a:hover,
.btn a:active{
  color: black;
}