.ajustes-banner {
  margin-top: 30px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 989;
}

.bannerPrincipal {
  height: 300px;
  width:100%;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #eb7a46;
}

.margin-left {
  margin-left: 70px;
  margin-right: auto;
}

@media (max-width: 767px) {
  .margin-left {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.img-banner {
  width: 100%;
}
