/* Botao */

.circulo,
.bt-cabecalho {
    width: 50px;
    height: 50px;
}

.circulo {
    border-radius: 30px;
}

.bt-cabecalho {
    position: absolute;
    margin-top: 25px;
    margin-left: 49px;
}

.bt-abrir-fechar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid blue;
    text-decoration: none;
}

.espacosBotoes {
    width: 100%;
    height: 100%;
}

.button,
.bt-cabecalho {
    cursor: pointer;
}

.button {
    display: inline-block;
    
    text-decoration: none;
    box-sizing: border-box;
}

.sorte {
    text-transform: uppercase;
    padding: 2px;
    color: green;
    background-color: rgba(218, 253, 16, 0.933);
    font-weight: bold;
    height: 35px;
    width: 64px;
    border: 3px double green;
    border-radius: 20px;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.bt-right,
.bt-top,
.bt-button {
    margin: 0 auto;
}

.direcionalHorizontal {
    width: 100px;
    display: inline-block;
    float: right;
    padding-right: 60px;
}

.tableBotoes {
    width: 90%;
    margin: 0 auto;
}

.bt-left{
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid rgb(42, 43, 42); 
    float: left;
}

.bt-right {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(42, 43, 42);
    float: right;
}

.bt-top {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(42, 43, 42);
}

.bt-button {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(42, 43, 42);
}

.bt-table {
    background-color: rgb(24, 200, 231);
    width: 100%;
    border-radius: 8px;
    height: 50px;
}
