/* box */

.box {
    max-width: 420px;
    max-height: 598px;
    padding: 0;
    margin-bottom: 15px;
    border: 1px solid #efefef;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.51);
}

.box-icon-development {
    background-image: url("../img/development.svg");
}

.box-icon-gear {
    background-image: url("../img/gear.svg");
}

.box-icon-mobile {
    background-image: url("../img/mobile.svg");
}

.box-icon-rocket {
    background-image: url("../img/rocket.svg");
}