/* PokedexParteDois */

#parteDoisPokedex {
   display: none;
   height: 480px;
   width: 420px;
   background-color: #dc0a2d;
}

#parteDoisPokedex .col-sm-6 {
   width: 50%;
}

#dadosPokemon {
   text-align: justify;
   font-size: 13px;
   line-height: 5px;
   color: #42FE28;
   background-color: #0D2E09;
   padding-left: 10px;
   margin: 30px auto;
   width:280px; 
   height:200px;
   border: 1px solid;
   border-radius: 20px;
}

#dadosPokemon {
   padding: 20px 10px;
}

#dadosPokemon li {
   line-height: normal;
   list-style: none;
}

h4 {
   text-transform: uppercase;
}

.espacosBotoes input {
   display: inline-block;
   float: left;
   margin-left: 30px;
   margin-top: 20px;
   width: 40px;
   height: 30px;
   border-radius: 10px;
}