/* pokedex */


.pokedex {
    width: 420px;
    height: 900px;
    background: url("../img/pokedexFechada.png") no-repeat top center / cover;
}

.cabecalhoPoke{
    width: 100%;
    height: 110px;
}

.espacoImagem {
    margin: 30px auto;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(-45deg,  #0081ff 1%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #0081ff 1%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #0081ff 1%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



.thumb {
    padding: 5px;
    width: 250px;
}