/*header-naver */

.bt-ajuda {
    width: 25px;
    cursor: pointer;
    display: inline-block;
}
.espaco-top {
    padding-top: 15px;
}


.display-horizontal {
    display: inline-block;
    width: 100%;
}


.header-nav {
    width: 100%;
    padding: 0;
    background: #fff;
    box-shadow: 0 0.8px 1px rgba(0, 0, 0, 0.11);
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}

.ajuste-seach {
    position: relative;
    top: 10px;
}

.flash-mensagem {
    position: relative;
    background: rgb(163, 69, 144);
    height: 50px;
    color: white;
}

.flash-mensagem span {
    font-weight: bold;
}

.header-nav h1 {
    text-align: center;
}

.logo-nav {
    padding: 5px 20px 0;
    float: left;
}

.ajuste-left {
    margin-left: 200px;
}

.ajuste-right {
    margin-left: 20px;
}

.logo-nav a {
    width: 130px;
    height: 30px;
    background: url("../../img/logo.png") no-repeat;
    background-size: contain;
    white-space: nowrap;
    text-indent: -999px;
    overflow: hidden;
    text-align: left;
}

.header-nav li,
.header-nav a {
    display: inline-flex;/* deixa a lista na horizontal e cada elemento continua sendo um bloco*/
}

.header-nav .nav a {/* ou .header-nav :not(.logo) a || mas nao utilizar */
    padding: 0px 15px;
    color: #000000;
    text-decoration: none;
    transition: color 0.4s ease-in-out 0s;

}

.header-nav .nav a:hover {
    color: #f05b78;
}

.menu-button,
.menu-button + input {
    display: none;
}

.menu-button {
    width: 45px;
    height: 45px;
    border: 1px solid #efefef;
    border-radius: 4px;
    background: #fff url("../../img/menu.svg") no-repeat center / 70% auto;
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: left;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
}

.header-nav .bt-vender{
    background: #f05b78;
    color:white;
    border-radius: 8px;
    height: 50px;
}

.header-nav .bt-entrar{
    background: white;
    border-radius: 8px;
    height: 50px;
}

@media (max-width: 1040px) {

    .logo-nav {
        margin-top: 10px;
    }

    .header-nav .bt-vender,
    .header-nav .bt-entrar {
        width: 100%;
    }

    .header-nav ul {
        padding-inline-start: 0!important;
    }

    .menu-button {
        display: block;
    }

    .header-nav .nav{
        display: none;
        width: 100%;
        margin-left: 5px;
    }

    .menu-button + input:checked + .nav {
        display: block;
    }

    .header .nav li,
    .header .nav a {
        display: block;
    }

    .header-nav .nav li:not(:first-child) {
        border-top: 1px solid #efefef;
    }
}
