/* Header */
.header {
    width: 100%;
    height: auto;
    line-height:50px;
    word-wrap: break-word;
    background: #fff;
    box-shadow: 0 0.8px 1px rgba(0, 0, 0, 0.11);
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}

.flash-mensagem {
    background: rgb(163, 69, 144);
    height: 50px;
    color: white;
}

.flash-mensagem span {
    font-weight: bold;
}

.header h1 {
    text-align: center;
}
.logo {
    margin: -20px 0 5px;
    float: center;
}

.logo a {
    width: 130px;
    margin-left: 30%;
    height: 30px;
    background: url("../../img/logo.png") no-repeat;
    background-size: contain;
    white-space: nowrap;
    text-indent: -999px;
    overflow: hidden;
    text-align: left;
}

.header .nav {
    float: right;
}

.header li,
.header a {
    display: inline-block;/* deixa a lista na horizontal e cada elemento continua sendo um bloco*/
}

.header .nav a {/* ou .header :not(.logo) a || mas nao utilizar */
    padding: 7px 15px;
    color: #0081ff;
    text-decoration: none;
    transition: color 0.4s ease-in-out 0s;
}

.header .nav a:hover {
    color: #39b54a;
}

.menu-button,
.menu-button + input {
    display: none;
}

.menu-button {
    width: 45px;
    height: 45px;
    border: 1px solid #efefef;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: left;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
}

@media (max-width: 767px) {

    .flash-mensagem {
        height: 80px;
    }

    .menu-button {
        display: block;
    }

    .header .nav{
        display: none;
        width: 100%;
        padding-top: 25px;
    }

    .menu-button + input:checked + .nav {
        display: block;
    }

    .header .nav li,
    .header .nav a {
        display: block;
    }

    .header .nav li:not(:first-child) {
        border-top: 1px solid #efefef;
    }
}