/* Card */

.card {
  border-radius: 8px;
  padding: 0;
  width: 100%;
  height: auto;
}
img {
  border-radius: 8px 8px 0 0 ;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  img {
    border-radius: 8px 8px 0 0 ;
  
  }
  .card {
    border-radius: 8px;
    padding: 0;
    width: 100%;
    height: auto;
    display:inline-block;
    white-space: normal;
    font-size: 14px;
  }

  .card p,
  .card h3{
    font-size: 13px;
  }

  .card:hover {
    height: 100%;
    display:inline-block;
    -webkit-transform: scale(2.3);
    -ms-transform: scale(2.8);
    transform: scale(1.6);
    position: sticky;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
  }
}

.card h3,
.card p {
  color: white;
}

.linkCard {
  font-size: 12px;
  color: white;
}

.linkCard p {
  margin-bottom: 1px;
}


.teste {
  z-index: 1;
}
.ajusta-conteudo {
  float: left;
  margin-top: 5px;
  width: 75%;
  display: inline-block;
  white-space: pre;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.card .ajusta-conteudo:hover {
  width: 100%;
  white-space: normal;
}
